/* stylelint-disable at-rule-no-unknown */

.post-content {
	.kg-toggle-card {
		padding: var(--spacing-5) var(--spacing-6);
		border: 1px solid var(--color-border);
		border-radius: var(--radius-2);
		box-shadow: none;
	}

	.kg-toggle-card + .kg-toggle-card {
		margin-top: calc(var(--vertical-rhythm) * -1);
	}

	/* Heading. */
	.kg-toggle-card h4.kg-toggle-heading-text {
		font-size: var(--font-medium);
		font-weight: var(--font-weight-medium);
	}

	/* Content. */
	.kg-toggle-content {
		transition:
			opacity 0.2s ease,
			top 0.2s ease;
	}

	/* Icon. */
	.kg-toggle-card-icon {
		width: 1rem;
		height: 1rem;
		flex: 0 0 auto;
		margin-top: .1em;
		border-radius: calc(var(--radius-1) - 2px);
		background-color: var(--color-background-300);

		svg {
			width: 0.475em;
			height: 0.475em;
			color: var(--color-foreground);
		}

		path {
			stroke-width: 4px;
		}
	}

	.kg-toggle-card .kg-toggle-content > * {
		margin-top: var(--spacing-4);
		font-size: inherit;
		line-height: inherit;
	}

	.kg-toggle-card[data-kg-toggle-state='close'] .kg-toggle-content {
		visibility: hidden;
	}
}
