.dropdown {
	--dropdown--translate-x: 0;
	--dropdown--offset: var(--spacing-3);
	--dropdown--radius: var(--radius-3);

	top: 100%;
	right: -1px;
	width: max-content;
	min-width: 160px;
	max-width: 260px;
	margin-top: var(--dropdown--offset);
	border: 1px solid var(--color-border);
	border-radius: var(--radius-3);
	background-color: var(--color-background);
	transform: translate(var(--dropdown--translate-x), -2px);
	transition:
		visibility 0.15s ease,
		opacity 0.15s ease,
		transform 0.2s ease;
	background-clip: padding-box;
	box-shadow:
		0 3px 15px rgb(0 0 0 / 10%);

	/* Zone hover. */
	&::before {
		content: '';
		position: absolute;
		top: calc(var(--dropdown--offset) * -1);
		right: 0;
		left: 0;
		height: var(--dropdown--offset);
	}
}

/* Share. */
.dropdown-share {
	position: relative;

	> .dropdown {
		top: auto;
		bottom: 100%;
		margin-top: 0;
		margin-bottom: var(--dropdown--offset);
		padding: var(--spacing-2);

		&::before {
			top: auto;
			bottom: calc(var(--dropdown--offset) * -1);
		}

		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			text-decoration: none;
		}

		button {
			width: 100%;
			border: 0;
			background-color: transparent;
			text-align: left;
			cursor: pointer;
		}

		a,
		button {
			display: flex;
			align-items: center;
			gap: var(--spacing-5);
			padding: var(--spacing-3) var(--spacing-5);
			border-radius: calc(var(--dropdown--radius) - var(--spacing-3));
			color: var(--color-contrast);

			> svg {
				width: 1rem;
				height: 1rem;
			}
		}

		a:hover,
		button:hover {
			background-color: var(--color-background-200);
			color: var(--color-contrast);
		}
	}
}
