.sidebar-widgets {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-9);
	min-height: 100vh;
	align-self: start;
	will-change: top;

	@media (--breakpoint-max-md) {
		display: none;
	}
}
