@import url('../_breakpoints.css');

.sidebar-navigation-container {
	position: sticky;
	top: 0;
	z-index: 3;
	display: flex;
	min-height: 100vh;
	align-self: start;
	will-change: top;
	container: sidebar / inline-size;
}

.sidebar-navigation {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-8);
	width: 100%;
}

/* Member button. */
.sidebar-button-member {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-5);
	margin-top: auto;
	border-radius: calc(var(--avatar--size) * 0.5 + var(--spacing-3));
	color: var(--color-contrast);
	font-weight: var(--font-weight-medium);
	text-decoration: none;
	transition: background-color 0.15s ease;

	@container sidebar (width > 100px) {
		margin: auto calc(var(--spacing-6) * -1) calc(var(--spacing-3) * -1) calc(var(--spacing-3) * -1);
		padding: var(--spacing-3) var(--spacing-7) var(--spacing-3) var(--spacing-3);
	}

	> .label {
		flex: 1 0 0%;
		margin-top: auto;
		margin-bottom: auto;
	}

	> svg {
		margin-top: calc(var(--avatar--size) * 0.5);
		transform: translateY(-50%);
	}

	> .avatar,
	> svg {
		flex: 0 0 auto;
	}

	&:hover {
		background-color: var(--color-grey-translucent);
		color: var(--color-contrast);
	}
}

/* Stack sidebar. */
@container sidebar (width < 100px) {
	.sidebar-navigation .logo {
		display: none;
	}

	.sidebar-button-member {
		position: relative;
		margin-left: -10px;

		&:hover {
			background-color: transparent;
		}

		> .label {
			position: absolute;
			top: 50%;
			left: calc(var(--avatar--size) + var(--spacing-6));
			z-index: 2;
			width: max-content;
			padding: var(--spacing-3) var(--spacing-6);
			border-radius: 2rem;
			background-color: var(--color-background-300);
			font-size: var(--font-large);
			font-weight: var(--font-weight-medium);
			line-height: normal;
			opacity: 0;
			transform: translateY(-50%);
			transition: opacity .15s ease;
			pointer-events: none;
			animation: feed-hide-label-when-stack 0.01s;
		}

		&:hover > .label {
			opacity: 1;
		}

		> svg {
			display: none;
		}
	}
}

@media (--breakpoint-max-sm) {
	.sidebar-navigation {
		display: none;
	}
}
